/*
@font-face {
    font-family: 'Lato-Bold';
    font-weight: normal;
    font-style: normal;
    src: url(/site/fonts/Lato-Bold.woff) format('woff');
}
*/

html, body{
    width: 100%;
    height: 100%;
    position: relative;
}

body{
    /*color: #707370;*/
    background-color: #363945;
    font-family: "Poppins" !important;
}

img{
    image-rendering: -webkit-optimize-contrast;
}

*{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.rotate_show_up{
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.left{ text-align: left; }
.center{ text-align: center; }
.right{ text-align: right; }

.row,
.form-group{
    margin: 0 !important;
    overflow: hidden;
}

.centralizar{
    float: none;
    display: inline-block;
}

/*COLORS---------*/
.white{
    color: #fff !important;
}

.grey{
    color: #707370 !important;
}

.orange{
    color: #f87c37 !important;
}

.blue{
    color: #000099 !important;
}

.black{
    color: #000 !important;
}

a{
    color: inherit;
}

a:hover{
    /*color: red;*/
    font-weight: bold;
}

i{
    color: #000099 !important;
}
/*COLORS---------*/


/*TRANSFORM---------*/
.bold{
    font-weight: bold;
}

.caps{
    text-transform: uppercase;
}
/*TRANSFORM---------*/

button,
input{
    outline: 0;
}
textarea { resize: vertical; }
input[type=file]{
    padding: 10px;
}

input:focus{
    border-color: unset;
    outline: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.disp_inline_flex{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.disp_none{
    display: none;
}

.disp_block{
    display: block !important;
}

#topcontrol{
    z-index: 99;
}

#topcontrol,
#topcontrol img{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#topcontrol:hover img{
    transform: scale(1.3);
}


.no_hover a,
.no_hover a:hover{
    text-decoration: none;
}

.wow{
    visibility: hidden;
    animation-delay: 0.4s;
    animation-name: none;
}

.txt_titulo{
    /*font-family: "Sunflower";*/
    font-family: "Poppins";
    font-size: 26px;
    font-weight: bold;
    color: #000099;
}

.txt_texto{
    font-family: "Poppins";
    font-size: 14px;
}

.pad_only_bot{
    padding-bottom: 85px;
}


#loading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #171717;
    z-index: 15;
    overflow: hidden;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

#loading i{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    color: #fff !important;
    font-size: 155px;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

#loading img{
    width: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

#loading.closed{
    bottom: 100%;
}

#loading.closed i,
#loading.closed img{
    display: none;
}

.mobile_disp_block{
    display: none;
}

@media screen and (max-width: 992px){
    .mobile_disp_none{
        display: none;
    }

    .mobile_padding_0{
        padding: 0 !important;
    }

    #googleMap{
        height: 350px;
    }

    .mobile_center{
        text-align: center !important;
    }

    .tipo_veiculo.disp_inline_flex{
        display: block;
    }

    .no-padding-mobile{
        padding: 0 !important;
    }

    .mobile_disp_block{
        display: block;
    }

    .pad_only_bot{
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 500px){

}





/*==================================================================================================*/
/*MENU MOBILE - ANIMAÇÃO HAMBURGUER*/
/*==================================================================================================*/

/*
*{
	margin: 0;
	padding: 0;
}
*/

#nav-icon1{
    width: 35px;
    height: 32px;
    position: relative;
    /*margin: 50px auto;*/
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1){
    top: 0px;
}

#nav-icon1 span:nth-child(2){
    top: 10px;
}

#nav-icon1 span:nth-child(3){
    top: 20px;
}

#nav-icon1.open span:nth-child(1){
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2){
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3){
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/*==================================================================================================*/
/*MENU*/
/*==================================================================================================*/



.menu_holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px 0;
    width: 100%;
    z-index: 10;
    /* border-bottom: 1px solid #fff; */
    background-color: rgba(0, 0, 0, 0.3);

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.menu_holder.open {
    background-color: rgba(0, 0, 0, 0.9);
}

.menu_holder.scroll {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 3px solid #090979;
    padding: 13px 0;
}

.menu_holder .navbar-header {
    position: absolute;
    top: -2px;
}

.menu_holder .navbar-header img{
    width: 70px;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.menu_holder.scroll .navbar-header img{
    width: 40px;
}

.menu_holder .menu-toggler{
    position: absolute;
    background: transparent;
    border: 0;
    width: 35px;
    top: 28px;
    right: 5%;
    cursor: pointer;

    display: none;
}

.menu_holder .menu-toggler span {
    height: 3px;
    width: 100%;
    background-color: #e3861d;
    margin-top: 5px;
    display: block;
    border-radius: 2px;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.menu_holder .menu-toggler:hover span {
    background-color: #808b92;
}

.menu_holder .menu{
    display: inline-block;
    margin: 10px 0 10px 50px;
    float: right;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.menu_holder.scroll .menu {
    margin: 10px 0 10px 50px;
}

.menu_holder .menu-nav{
    list-style: none;
    margin: 0;
}

.menu_holder .menu-nav .dropdown{
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}


/*MENU FONT COLOR*/
.menu_holder .menu-nav .dropdown a{
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-family: "Sunflower";
}

.menu_holder.scroll .menu-nav .dropdown a{
    color: #000;
}

.menu_holder .menu-nav .dropdown.active a,
.menu_holder .menu-nav .dropdown a:hover,
.menu_holder .menu-nav li.active > a,
.menu_holder .menu-nav li.active:hover > a {
    color: #fff;
    text-decoration: none !important;
}

.menu_holder.scroll .menu-nav .dropdown.active a,
.menu_holder.scroll .menu-nav .dropdown a:hover,
.menu_holder.scroll .menu-nav li.active > a,
.menu_holder.scroll .menu-nav li.active:hover > a {
    color: #090979;
}


/*SUB-MENU*/
.menu_holder .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: default;
}
.menu_holder .dropdown-menu hr{
    width: 80%;
    margin: 8px auto;
    border-top: 1px solid #ccc;
}
.menu_holder .dropdown-menu a:hover{
    background-color: transparent;
}
.menu_holder .dropdown-menu li:hover{
    background-color: rgba(9, 9, 121, 0.4);
}

.menu_holder.scroll .dropdown-menu {
    background-color: #fff;
    cursor: default;
}
.menu_holder.scroll .dropdown-menu li:hover{
    background-color: #090979;
}


.menu_holder .menu-nav .dropdown:hover::after,
.menu_holder .menu-nav li.active::after {
    width: Calc(100% + 13px);
}

.menu_holder .menu-nav .dropdown::after {
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    left: -6px;
    bottom: -6px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.menu_holder.scroll .menu-nav .dropdown::after {
    background: #090979;
}

.sub_menus{
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 138px;
    width: 100%;
    z-index: 10;
    padding: 45px 0;
    display: none;
}

.sub_menus_img{
    width: 100%;
    height: 275px;

    background-size: 100%;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: top center;
}

.sub_menus .nome{
    font-family: "Lato-Bold";
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}

.sub_menus .descricao{
    font-family: "Lato-Light";
    font-size: 14px;
    color: #000;
    width: 85%;
}

.sub_menus a:hover{
    text-decoration: none;
}

.each_submenu{
    cursor: pointer;
}

.each_submenu .nome.active{
    color: #556B2F;
}



@media screen and (min-width: 993px) {

    .menu_holder .menu {
        display: inline-block !important;
    }

    .menu_holder .navbar-header img:hover{
        /*transform: scale(1.2);*/
    }

}

@media screen and (max-width: 1200px) {
    .menu_holder .menu-nav .dropdown a{
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {

    .menu_holder{
        padding: 25px 0;
    }

    .menu_holder .container{
        padding: 0 20px;
        width: 90%;
    }

    .menu_holder .navbar-header {
        /*top: -15px;*/
        /*margin-left: 0;*/
    }

    .menu_holder .navbar-header img{
        width: 50px;
    }

    .menu_holder .menu-toggler{
        display:block;
    }

    .menu_holder .menu {
        margin: 40px 0 0;
        width: 100%;

        display: none;
    }

    .menu_holder .menu.aberto{
        display: block
    }

    .menu_holder .menu-nav {
        padding: 0;
    }

    .menu_holder .menu-nav .dropdown {
        display: block;
        width: 100%;
        margin: 15px;
    }

    .menu_holder .menu-nav .dropdown:hover::after,
    .menu_holder .menu-nav li.active::after {
        width: 150px;
    }

    .input_pesq_menu{
        right: unset;
        left: 0;
    }

    .sub_menus {
        top: 188px;
        left: 0;
        right: 0;
        width: 80%;
        margin: auto;
        padding: 25px 0;
        border: 1px solid #556B2F;
    }

}

@media screen and (max-width: 768px) {

    .menu_holder .menu-toggler {
        top: 7px;
    }

}





/*==================================================================================================*/
/*BANNER*/
/*==================================================================================================*/


.banner{
    position: relative;
    width: 100%;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.banner ul{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.banner ul li{
    width: 100%;
    height: 400px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner .banner_content_box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: left;
    background: rgba(0, 0, 0, 0.4);
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0,0.5) 73%, rgba(0 , 0, 0,0) 100%); */

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}




.banner_home{
    position: relative;
    width: 100%;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.banner_home ul{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.banner_home ul li{
    width: 100%;
    height: 400px;
    position: relative;
    cursor: pointer;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.banner_home ul li.full_screen{
    height: 100vh;
}

.banner_home ul li .wallpaper_name{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    background-color: rgba(33, 33, 33, 0.7);
    width: fit-content;
    padding: 5px 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



@media screen and (max-width: 992px) {
    .banner ul li{
        height: 225px;
    }
}





/*==================================================================================================*/
/*BLOCOS*/
/*==================================================================================================*/


.bloco{
    position: relative;
    width: 100%;
    padding: 85px 0;
    overflow: hidden;
}

.bloco.no-margin{
    padding: 0;
}

.bloco h2{
    font-size: 45px;
    color: #111;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.bloco h3{
    font-size: 25px;
    color: #111;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.bloco h4{
    font-size: 17px;
    color: #111;
}

.bloco p{
    font-size: 17px;
    color: #838383;
}

.bloco hr{
    border-top: 3px solid #dbdbdb;
    width: 400px;
}


@media screen and (max-width: 992px) {

    .bloco{
        padding: 40px 0;
    }

    .bloco hr{
        width: 100px;
    }

    .bloco h2{
        font-size: 25px;
    }

    .bloco p{
        font-size: 15px;
    }
}




/*==================================================================================================*/
/*HOMEPAGE*/
/*==================================================================================================*/

.block_legend{
    padding-top: 0;
    position: relative;
    top: -150px;
    margin-bottom: -150px;
}

.legend{}

.legend img{
    width: 100%;
}

.legend_name{
    color: #fff;
    font-size: 22px;
    margin-top: 110px;
}

.legend_stats{
    margin-top: 20px;
    /*display: inline-flex;*/
}

.legend_stats .each_stat_box{
    background-color: #212121;
    border-radius: 5px;
    padding: 5px 10px;
    /* border: 1px solid #DA292A; */
    margin: 5px;
    min-width: 100px;
    width: fit-content;
    float: left;
}

.legend_stats .each_stat_box .title{
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #DA292A;
}

.legend_stats .each_stat_box .value{
    font-size: 18px;
    color: #fff;
    padding-top: 7px;
}

.legend_stats .each_stat_box:hover{
    background-color: #1b1b1b;
}

.legend_stats .each_stat_box:hover .value{
    padding-left: 5px;
}






@media screen and (max-width: 992px){}




/*==================================================================================================*/
/*PROFILE*/
/*==================================================================================================*/


.profile_img{
    text-align: center;
    margin-top: 40px;
}

.profile_img img{
    width: 50%;
    border: 4px solid #DA292A;
    border-radius: 100%;
}

.profile .profile_info{}

.profile_info .profile_name{
    margin-top: 110px;
}

.profile_info .profile_name img{
    width: 30px;
    margin-right: 10px;
}

.profile_info .profile_name span{
    color: #fff;
    font-size: 22px;
    position: relative;
    top: 3px;
}

.profile_info .profile_name span.smaller{
    font-size: 14px;
    left: 10px;
}


.legend_holder{
    height: 345.27px;
    margin-bottom: 30px;
}

.each_legend{
    padding: 10px 0;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    padding-bottom: 20px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.each_legend:hover{
    padding: 10px 0;
    background-color: rgba(33, 33, 33, 0.7);
    border: 2px solid #DA292A;
    border-bottom: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    padding-bottom: 60px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.each_legend img{
    width: 100%;
}

.each_legend .nametag{
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 17px;
    visibility: hidden;
}

.each_legend:hover .nametag{
    visibility: visible;
}

.bloco2{
    display: block;
    position: relative;
}

.bloco2::after{
    content: "";
    background: url(https://pbs.twimg.com/media/D2HQu4aWwAAi26B.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}




@media screen and (max-width: 992px){
    .profile_img {
        margin-top: 90px;
    }

    .profile_img img {
        width: 35%;
    }

    .profile_info .profile_name {
        margin-top: 55px;
        text-align: center;
    }

    .legend_holder {
        height: 261.27px;
        margin-bottom: 15px;
    }

    .each_legend {
        padding: 10px 0;
        background-color: rgba(33, 33, 33, 0.7);
        border: 2px solid #DA292A;
        border-bottom: none;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        padding-bottom: 36px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }

    .each_legend .nametag{
        visibility: visible;
    }

}







/*==================================================================================================*/
/*SEARCH*/
/*==================================================================================================*/

.search_platforms{
    margin: 5px 15px;
    padding: 5px 15px;
    width: 90px;
    height: 90px;
    position: relative;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.search_platforms.selected,
.search_platforms:hover{
    background-color: rgba(33, 33, 33, 0.7);
    border: 2px solid #DA292A;
}

.search_platforms img{
    width: 55px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.block_search{
    padding: 0;
    position: absolute;
    bottom: 0;
}

.input_pesq{
    position: relative;
}

.input_pesq input{
    padding-right: 34px;
    height: 42px;
}

.input_pesq i{
    color: #DA292A !important;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    padding: 9px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.input_pesq:hover i{
    background-color: rgba(33, 33, 33, 0.9);
}




@media screen and (max-width: 992px){}




/*==================================================================================================*/
/*FOOTER*/
/*==================================================================================================*/


.footer{
    position: relative;
    width: 100%;
    padding: 15px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* -webkit-filter: blur(8px); */
    /* filter: blur(4px);*/
}

.txt_titulo_footer{
    font-family: "Lato-Black";
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.txt_titulo_footer_redes{
    font-family: "Lato-Bold";
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.txt_titulo_footer_redes i{
    margin-left: 15px;
    font-size: 20px;
}

.txt_texto_footer{
    font-family: "Poppins";
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.txt_texto_footer.smaller{
    font-size: 10px;
}

.footer_politicas{
    margin-top: 14px;
    z-index: 3;
}

.footer_logo img{
    width: 110px;
}


.tracker_svg{
    height: 60px;
    width: 100%;
}

.companies .footer_logo{
    padding: 10px 15px;
    border: 2px solid transparent;
}

.companies .footer_logo:hover{
    border: 2px solid #DA292A;
    border-radius: 5px;
    background-color: rgba(33, 33, 33, 0.7);
}

.companies .footer_logo img{
    width: unset;
    margin: auto;
    max-height: 60px;
    max-width: 100%;
}




@media screen and (max-width: 992px) {

    .footer{
        text-align: center;
    }

    .footer_politicas {
        margin-top: 30px;
    }

    .mobile_margin_detalhe{
    margin-bottom: 30px;
}
}

@media screen and (max-width: 450px) {

    .txt_texto_footer {
    font-size: 12px;
}
}


